* {
  font-family: monospace;
  font-size: 10pt;
  border-radius: 0;
  border: none;
  min-height: 0;
}

window#waybar {
  background: #21252b;
  color: #abb2bf;
  min-height: 32px;
}

#cpu, #memory, #network, #backlight,
#battery, #pulseaudio, #clock {
  padding: 0 10px;
}

#tray {
    padding: 8 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e06c75;
}

#language {
    padding: 10 10px;
}

#mpris {
  padding: 0 10px;
  color: #98c379;
}

#mpris.paused {
  color: #abb2bf;
}

#mpris.stopped {
  padding: 0;
}

#mode {
  padding: 0 10px;
  background: #e06c75;
  color: #282c34;
  font-weight: bold;
}

#workspaces button {
  padding: 0 10px;
  min-height: 32px;
  background: #21252b;
  color: #abb2bf;
  border-radius: 0;
  border: none;
  box-shadow: none;
  min-width: 24px;
}

#workspaces button.focused {
  background: #61afef;
  color: #282c34;
}

#workspaces button.urgent {
  background: #e06c75;
  color: #282c34;
}

#workspaces button:hover {
  background: #3e4451;
  border-radius: 0;
  box-shadow: none;
}

#window {
  padding: 0 10px;
  color: #abb2bf;
}

#battery.warning  { color: #e5c07b; }
#battery.critical { color: #e06c75; }
#battery.charging { color: #98c379; }
